body{
    background-color: green;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.212);
    width: 1200px;
    height: 500px;
    padding: 20px;
    flex-direction: row-reverse;
}